@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/* colors */
:root {
  --white: hsl(0, 100%, 100%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --pale-blue: hsl(225, 100%, 94%);
  --purple: hsl(245, 83%, 68%);
  --bright-blue: hsl(245, 75%, 52%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  --font-size-28px: 1.75rem;
  --font-size-16px: 1rem;
  --font-size-14px: 0.875rem;

  --font-weight-normal: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  font-family: "Red Hat Display", sans-serif;
}

/* CSS reset */
*,
*::before,
*::after {
  padding: none;
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  display: block;
}

/* start of styling */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: var(--font-weight-normal);
  font-weight: var(--font-size-16px);
  color: var(--desaturated-blue);
  background: var(--pale-blue) top center/100% 50% no-repeat;
  background-image: url(./images/pattern-background-mobile.svg);
}
h1,
h2,
h3 {
  line-height: 1.1;
}
h2 {
  font-size: var(--font-size-28px);
  color: var(--dark-blue);
  font-weight: var(--font-weight-black);
}
button {
  font-family: inherit;
}

.main {
  background-color: var(--white);
  text-align: center;
  max-width: 28.125rem;
  border-radius: 1.5rem;
  box-shadow: 0 3px 10px hsla(224, 23%, 55%, 0.5);
  overflow: hidden;
}
.main-image {
  width: 100%;
}
.main-content {
  padding: 3rem;
  display: grid;
  gap: 1rem;
}
.annual-plan-box {
  display: flex;
  gap: 1rem;
  background-color: var(--very-pale-blue);
  padding: 1.5rem;
  text-align: left;
  border-radius: 0.5rem;
}
.annual-plan-box p:first-child {
  color: var(--dark-blue);
  font-weight: var(--font-weight-black);
}
.button {
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 0.5rem;
  font-weight: var(--font-weight-bold);
  background: transparent;
  padding: 1rem 2rem;
}
.primary {
  background: var(--bright-blue);
  color: var(--white);
  box-shadow: 0 5px 15px hsla(224, 23%, 55%, 0.5);
}
.primary:hover,
.primary:focus {
  background: var(--purple);
}
.secondary {
  color: var(--desaturated-blue);
  padding: 0;
}
.secondary:hover,
.secondary:focus {
  color: var(--dark-blue);
}
a,
.link {
  cursor: pointer;
  background: transparent;
  border: 0;
  color: var(--bright-blue);
  text-decoration: underline;
  font-size: var(--font-size-14px);
  font-weight: var(--font-weight-bold);
  margin-left: auto;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  color: var(--purple);
  text-decoration: none;
}

/* Attribution */
/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

@media only screen and (min-width: 46.875rem) {
  .background-wave {
    background: url("./images/pattern-background-desktop.svg");
    /* height: 50vh; */
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
